##########################
# UnReal Specific Excludes
##########################
*/Intermediate
*/Saved
*/Binaries
*/Build
*/DerivedDataCache
*.uasset
BuildingEscape/Content/StarterContent/
*.iph
##########################
# Visual Studuis Excludes
#########################
*.VC.db

