##########################
# UnReal Specific Excludes
##########################
*/Intermediate
*/Saved
*/Binaries
*/Build
*/DerivedDataCache
*_BuildData.uasset
BuildingEscape/Content/StarterContent/

##########################
# Visual Studuis Excludes
#########################
*.VC.db

